<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>NetCTOSS</title>
        <link type="text/css" rel="stylesheet" media="all" href="../../../static/css/global.css" />
        <link type="text/css" rel="stylesheet" media="all" href="../../../static/css/global_color.css" />
        <script type="text/javascript" src="../../../static/js/jquery.js"></script>
        <script type="text/javascript" src="../../../static/main/account/js/account.js"></script>
    </head>
    <body>
        <!--Logo区域开始-->
        <div id="header">
            <img src="../../../static/images/log.png" alt="logo" class="left"/>
            <a href="#">[退出]</a>            
        </div>
        <!--Logo区域结束-->
        <!--导航区域开始-->
        <div id="navi">                        
            <ul id="menu">
                <li><img src="../../../static/images/index_out.png" alt="" id="index"></li>
                <li><img src="../../../static/images/role_out.png" alt="" id="role"></li>
                <li><img src="../../../static/images/admin_out.png" alt="" id="admin"></li>
                <li><img src="../../../static/images/fee_out.png" alt="" id="fee"></li>
                <li><img src="../../../static/images/account_on.png" alt="" id="account"></li>
                <li><img src="../../../static/images/service_out.png" alt="" id="service"></li>
                <li><img src="../../../static/images/bill_out.png" alt="" id="bill"></li>
                <li><img src="../../../static/images/report_out.png" alt="" id="report"></li>
                <li><img src="../../../static/images/information_out.png" alt="" id="information"></li>
                <li><img src="../../../static/images/password_out.png" alt="" id="password"></li>
            </ul>            
        </div>
        <!--导航区域结束-->
        <!--主要区域开始-->
        <div id="main">
            <form action="" method="">
                <!--查询-->
                <div class="search_add">                        
                    <div>身份证：<input type="text" value="" class="text_search" id="id_search" placeholder="不验证" /></div>
                    <div>姓名：<input type="text" class="width70 text_search" value="" id="real_search" placeholder="不验证"/></div>
                    <div>登录名：<input type="text"  value="" class="text_search" id="login_search" placeholder="不验证"/></div>
                    <div>
                        状态：
                        <select class="select_search">
                            <option value="0">全部</option>
                            <option value="True">开通</option>
                            <option value="False">暂停</option>
                            <option value="Null">删除</option>
                        </select>
                    </div>
                    <div><input type="button" value="搜索" class="btn_search" /></div>
                    <input type="button" value="增加" class="btn_add" />
                </div>  
                <!--删除等的操作提示-->
                <div id="operate_result_info" class="operate_success">
                    <img src="../../../static/images/close.png" onclick="this.parentNode.style.display='none';" />
                    操作成功！
                </div>   
                <!--数据区域：用表格展示数据-->     
                <div id="data">            
                    <table id="datalist">
                    <tr id="first_tr">
                        <th>账号ID</th>
                        <th>姓名</th>
                        <th class="width150">身份证</th>
                        <th>登录名</th>
                        <th>状态</th>
                        <th class="width100">创建日期</th>
                        <th class="width150">上次登录时间</th>                                                        
                        <th class="width200"></th>
                    </tr>

                </table>
                <p>业务说明：<br />
                1、创建则开通，记载创建时间；<br />
                2、暂停后，记载暂停时间；<br />
                3、重新开通后，删除暂停时间；<br />
                4、删除后，记载删除时间，标示为删除，不能再开通、修改、删除；<br />
                5、暂停账务账号，同时暂停下属的所有业务账号；<br />                
                6、暂停后重新开通账务账号，并不同时开启下属的所有业务账号，需要在业务账号管理中单独开启；<br />
                7、删除账务账号，同时删除下属的所有业务账号。</p>
                </div>                   
                <!--分页-->
                <div id="pages">
                    <a href="#">首页</a>
        	        <a href="#">上一页</a>
                    <a href="#" class="current_page">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">下一页</a>
                    <a href="#">末页</a>
                </div>                    
            </form>
        </div>
        <!--主要区域结束-->
        <div id="footer">
           
        </div>
    </body>
</html>
