{% extends 'main/fee/base_fee.html' %}

{% load static %}

{% block title %}
    {{ block.super }}
    详情页面
{% endblock %}

{% block content %}
    {{ block.super }}
    <!--主要区域开始-->
        <div id="main">
            <form action="" method="" class="main_form">
                <div class="text_info clearfix"><span>资费ID：</span></div>
                <div class="input_info"><input type="text" class="readonly" readonly value="{{ cost.id }}" /></div>
                <div class="text_info clearfix"><span>资费名称：</span></div>
                <div class="input_info"><input type="text" class="readonly" readonly value="{{ cost.name }}"/></div>
                <div class="text_info clearfix"><span>资费状态：</span></div>
                <div class="input_info">
                    <select class="readonly" disabled>
                        {% if cost.status %}
                        <option>开通</option>
                        {% else %}
                        <option>暂停</option>

                        {% endif %}
                    </select>
                </div>
                <div class="text_info clearfix"><span>资费类型：</span></div>
                <div class="input_info fee_type">
                    {% if cost.name == '包月' %}
                    <input type="radio" name="radFeeType" id="monthly" disabled="disabled" checked/>
                    <label for="monthly">包月</label>
                    <input type="radio" name="radFeeType" id="timeBased" disabled="disabled" />
                    <label for="timeBased">计时</label>
                    <input type="radio" name="radFeeType" id="package" disabled="disabled" />
                    <label for="package">套餐</label>
                    {% elif cost.name == '计时' %}
                    <input type="radio" name="radFeeType" id="monthly" disabled="disabled" />
                    <label for="monthly">包月</label>
                    <input type="radio" name="radFeeType" checked="checked" id="timeBased" disabled="disabled" />
                    <label for="timeBased">计时</label>
                    <input type="radio" name="radFeeType" id="package" disabled="disabled" />
                    <label for="package">套餐</label>
                    {% else %}
                    <input type="radio" name="radFeeType" id="monthly" disabled="disabled" />
                    <label for="monthly">包月</label>
                    <input type="radio" name="radFeeType" id="timeBased" disabled="disabled" />
                    <label for="timeBased">计时</label>
                    <input type="radio" name="radFeeType" id="package" disabled="disabled" checked/>
                    <label for="package">套餐</label>
                    {% endif %}

                </div>
                <div class="text_info clearfix"><span>基本时长：</span></div>
                <div class="input_info">
                    <input type="text" class="readonly" readonly value="{{ cost.base_duration }}"  />
                    <span>小时</span>
                </div>
                <div class="text_info clearfix"><span>基本费用：</span></div>
                <div class="input_info">
                    <input type="text"  class="readonly" readonly value="{{ cost.base_cost }}" />
                    <span>元</span>
                </div>
                <div class="text_info clearfix"><span>单位费用：</span></div>
                <div class="input_info">
                    <input type="text"  class="readonly" readonly value="{{ cost.unit_cost }}" />
                    <span>元/小时</span>
                </div>
                <div class="text_info clearfix"><span>创建时间：</span></div>
                <div class="input_info"><input type="text"  class="readonly" readonly value="{{ cost.creatime }}" /></div>
                <div class="text_info clearfix"><span>启动时间：</span></div>
                <div class="input_info"><input type="text"  class="readonly" readonly value="{{ cost.startime }}" /></div>
                <div class="text_info clearfix"><span>资费说明：</span></div>
                <div class="input_info_high">
                    <textarea class="width300 height70 readonly" readonly>{{ cost.descr }}</textarea>
                </div>
                <div class="button_info clearfix">
                    <input type="button" value="返回" class="btn_save" onclick="location.href='{% url 'tariffApp:feeList' %}';" />
                </div>
            </form>
        </div>
{% endblock %}

{% block ext_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'main/fee/js/fee_modi.js' %}"></script>
{% endblock %}